@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d3d3d3;
}
:root {
  --colorPrimary: #141e61;
  --colorSecondary: #0f044c;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--colorPrimary);
  font-size: 7.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.contenedor-tareas div {
  width: 270px;
  padding: 1rem 0.8rem;
  background-color: var(--colorSecondary);
  color: #eeeeee;
  margin-top: 1px;
  font-weight: 200;
  font-size: 1rem;
}

.input {
  width: 270px;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #eeeeee;
  font-size: 16px;
  margin-bottom: 2rem;
  color: #787a91;
}

.instr {
  margin-top: 3rem;
}
span {
  display: block;
}

.contenedor-tareas .completa {
  color: #787a91;
  text-decoration: line-through;
  user-select: none;
}
